nav { 
    display: block; 
}

body {
    font-family: Arial, sans-serif;
    background-color: ivory; 
}
h1 {
    color: grey;
    font-weight: bolder;
    display: block; 
    font-size: 3em; 
    margin: 20px 0px; 
}
h2 {
    display: block; 
    font-size: 2em; 
    margin: 20px 0px; 
    font-weight: bold; 
    color: #333;
}

table {
    border: 1px dotted tomato;
}

th {
    background-color: lightcoral;
}

.code { 
    font-family: monospace; 
    color: tomato;
}