header {
    display: flex; 
    border-bottom: 1px solid seashell;
    height: 69px;
    justify-content: space-between;
    align-items: center;
}

nav {

}

a { 
    color: red; 
}

h1 {
    color: blue; 
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
}