body { 
    margin: 0 10%;
}
.section {
    border: 1px solid #000000; 
    padding: 10px; 
    margin: 10px auto; 
}

.color-section {
    width: 100%;
}

.color-panel {
    display: inline-block; 
    width: 32%;
    text-align: center;
    margin: 20px auto; 
    min-height: 100px; 
}

.dark-blue { 
    background-color: #00f;
    color: #fff; 
}

.ocean-blue {
    background-color: #03f;
    color: #fff; 
}

.pale-blue {
    background-color: #06f;
    color: #fff; 
}

.sky-blue {
    background-color: #09f;
    color: #fff; 
}

.dark-charcoal {
    background-color: #333;
    color: #fff;
}

.charcoal {
    background-color: #36454f;
    color: #fff; 
}