nav { 
    font-size: small;
    display: inline-block;
    margin-top: 5px; 
}
body { 
    font-family: 'Cousine', monospace;
    margin: 0 10%;
    color: #333; 
}
h1 {
    font-family: Arial, Helvetica, sans-serif; 
    color: #03f; 
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #06f; 
}
.section {
    border: 2px solid #333; 
    padding: 10px; 
    margin: 10px auto; 
}

.color-section {
    width: 100%;
}

.color-panel {
    display: inline-block; 
    width: 32%;
    text-align: center;
    margin: 20px auto; 
    min-height: 100px; 
}

.dark-blue { 
    background-color: #003;
    color: #fff; 
}

.ocean-blue {
    background-color: #03f;
    color: #fff; 
}

.pale-blue {
    background-color: #06f;
    color: #fff; 
}

.sky-blue {
    background-color: #09f;
    color: #fff; 
}

.dark-charcoal {
    background-color: #333;
    color: #fff;
}

.light-charcoal {
    background-color: #7c919a;
    color: #fff; 
}

.color-hex {
    font-family: 'Cutive Mono', monospace;
}

.font-panel {
    width: 45%;
    display: inline-block;
}
  
.font-label {
    font-size: 20px;
    text-decoration: underline;
}
.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.cousine {
    font-family: 'Cousine', monospace;
}

.cutive {
    font-family: 'Cutive Mono', monospace; 
}