body { 
    margin: 0 10%;
}
.section {
    border: 1px solid #000000; 
    padding: 10px; 
    margin: 10px auto; 
}

.color-section {
    display: inline-block; 
    width: 32%;
    text-align: center;
    margin: 20px auto; 
    min-height: 100px; 
}

.color-panel { 

}

.color-label {

}

.color-hex { 

}